<div class="" style="text-align:center">
      <h3>The List</h3>
  </div>
  <div class="row">
    <h5>Choose calories level to Display: </h5>
    <select (change)="onChange($event.target.value)">
      <option value="all" selected="selected">Show All</option>
      <option value="high">Calories > 500</option>
      <option value="low" >Calories < 500</option>
    </select>
  </div>


  <div class="row">
    <div class="col-3">
      <h6>Name:</h6>
    </div>
    <div class="col-3">
      <h6>Description:</h6>
    </div>
    <div class="col-3">
      <h6>Calories: </h6>
    </div>
    <div class="col-3">
      <h6>Action</h6>
    </div>
  </div>
  <hr size=6>

<div *ngFor="let currentMeal of childMealList | caloriesLevel:selectedCaloriesLevel">

  <div class="row">
    <div class="col-3">
      <h5>{{ currentMeal.name }}</h5>
    </div>
    <div class="col-3">
      <h5>{{ currentMeal.description }}</h5>
    </div>
    <div class="col-3">
      <h5>{{ currentMeal.calories }}</h5>
    </div>
    <div class="col-3">
      <div class="row">
        <div class="col-5">
            <button (click)="editButtonHasBeenClicked(currentMeal)">Edit</button>
        </div>
        <div class="col-7">
            <button (click)="deleteButtonHasBeenClicked(currentMeal)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
